@model PetAdopt.Models.Dog

@{
    ViewData["Title"] = "Details";
    <link href="~/css/styles/Dog/DetailsStyling.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-9">
        <div id="back-link">
            <a asp-action="Index"><img src="~/Images/back.png" /> Back To Results</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 id="dogs-name">My Name Is <span>@Html.DisplayFor(model => model.Name)</span>!</h2>
                <div id="dogs-img">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
                </div>
            </div>
            <div class="col-md-6">
                <div id="ask-about">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@Model.ApplicationUserId" class="btn btn-lg btn-default">
                        <img src="~/Images/comment.png" /> Ask About Me
                    </a>
                    <h3 id="cared-for">
                        I'm Being Cared For By <span>@Html.DisplayFor(model => model.ApplicationUser.LastName), @Html.DisplayFor(model => model.ApplicationUser.FirstName)</span>
                    </h3>
                </div>
            </div>
        </div>
        <h2 class="pet-h">Facts About Me</h2>

        <div id="pet-facts">
            <div class="row">
                <div class="col-md-6">
                    <h4>Breed - <span>@Html.DisplayFor(model => model.Type)</span></h4>
                    <h4>Color - <span>@Html.DisplayFor(model => model.Color)</span></h4>
                    <h4>Age - <span>@Html.DisplayFor(model => model.Age)</span></h4>
                </div>
                <div class="col-md-6">
                    <h4>Size - <span>@Html.DisplayFor(model => model.Size)</span></h4>
                    <h4>Gender - <span>@Html.DisplayFor(model => model.Gender)</span></h4>
                </div>
            </div>
        </div>

        <h2 class="pet-h" id="info-h">My Info</h2>

        <div id="pet-info">

            <div class="row">
                <div class="col-md-6">
                    @if (Model.RecentCheckup == true)
                    {<h4 class="text-success"><span>@Html.DisplayFor(model => model.RecentCheckup)</span> - Recent Checkup</h4>}
                else
                {<h4 class="text-danger"><span>@Html.DisplayFor(model => model.RecentCheckup)</span> - Recent Checkup</h4>}

                    @if (Model.Trained == true)
                    {<h4 class="text-success"><span>@Html.DisplayFor(model => model.Trained)</span> - Trained</h4>}
                else
                {<h4 class="text-danger"><span>@Html.DisplayFor(model => model.Trained)</span> - Trained</h4>}

                    @if (Model.Neutered == true)
                    {<h4 class="text-success"><span>@Html.DisplayFor(model => model.Neutered)</span> - Neutered</h4>}
                else
                {<h4 class="text-danger"><span>@Html.DisplayFor(model => model.Neutered)</span> - Neutered</h4>}
                </div>
                <div class="col-md-6">
                    @if (Model.Declawed == true)
                    {<h4 class="text-success"><span>@Html.DisplayFor(model => model.Declawed)</span> - Declawed</h4>}
                else
                {<h4 class="text-danger"><span>@Html.DisplayFor(model => model.Declawed)</span> - Declawed</h4>}
                    @if (Model.GoodWithDogs == true)
                    {<h4 class="text-success"><span>@Html.DisplayFor(model => model.GoodWithDogs)</span> - Good With Other Dogs</h4>}
                else
                {<h4 class="text-danger"><span>@Html.DisplayFor(model => model.GoodWithDogs)</span> - Good With Other Dogs</h4>}
                    @if (Model.GoodWithCats == true)
                    {<h4 class="text-success"><span>@Html.DisplayFor(model => model.GoodWithCats)</span> - Good With Cats</h4>}
                else
                {<h4 class="text-danger"><span>@Html.DisplayFor(model => model.GoodWithCats)</span> - Good With Cats</h4>}

                    @if (Model.GoodWithKids == true)
                    {<h4 class="text-success"><span>@Html.DisplayFor(model => model.GoodWithKids)</span> - Good With Kids</h4>}
                else
                {<h4 class="text-danger"><span>@Html.DisplayFor(model => model.GoodWithKids)</span> - Good With Kids</h4>}
                </div>
            </div>
        </div>

        <h2 class="pet-h">Food Requirements</h2>
        <div id="food-req">
            <p>
                @Html.DisplayFor(model => model.FoodReq)
            </p>
        </div>

        <h2 class="pet-h">Habitat Requirements</h2>
        <div id="habitat-req">
            <p>
                @Html.DisplayFor(model => model.HabitatReq)
            </p>
        </div>

        <div id="contact-info">
            <h5>Owner</h5>
            <h1>@Html.DisplayFor(model => model.ApplicationUser.FirstName) @Html.DisplayFor(model => model.ApplicationUser.LastName)</h1>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 heading">
                            <h2 class="card-title">Contact Info</h2>
                            <h4 class="card-text">Username <span>@Html.DisplayFor(model => model.ApplicationUser.UserName)</span></h4>
                            <h4 class="card-text">Email <span>@Html.DisplayFor(model => model.ApplicationUser.Email)</span></h4>
                            <h4 class="card-text">City <span>@Html.DisplayFor(model => model.ApplicationUser.City)</span></h4>
                        </div>
                        <div class="col-md-6 img">
                            <div id="img-section">
                                <img class="card-img" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
                                <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@Model.ApplicationUserId" class="btn btn-lg btn-default btn-block">
                                    <img src="~/Images/comment.png" /> Ask About Me
                                </a>
                            </div>
                            <h4 class="card-text">Pet ID <span>@Html.DisplayFor(model => model.DogId)</span></h4>
                            <h4 class="card-text">Phone <span>@Html.DisplayFor(model => model.ApplicationUser.Number)</span></h4>
                            <h4 class="card-text">State <span>@Html.DisplayFor(model => model.ApplicationUser.State)</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-3">
        <div id="img-1" class="dog-ad">
            <a href="https://www.amazon.in/Pedigree-Biscrok-Biscuits-Treats-Chicken/dp/B07SCDWNP7"><img src="~/Images/dog-ad-1.png" /></a>
        </div>

        <div id="img-2" class="dog-ad">
            <a href="http://www.havesippywilltravel.com/2015/10/best-ways-to-pamper-your-pup-furryfoodie-ad.html"><img src="~/Images/dog-ad-2.jpg" /></a>
        </div>

        <div id="img-3" class="dog-ad">
            <a href="https://www.petpremium.com/"><img src="~/Images/dog-ad-3.png" /></a>
        </div>

        <div id="img-4" class="dog-ad">
            <a href="https://www.themagazineshop.net/?product=2019-royal-canin-dog-food-magazine-ad"><img src="~/Images/dog-ad-4.jpg" /></a>
        </div>

        <div class="dog-ad">
            <a href="https://modusmg.com/project/enjoy-life-foods-print-ad/"><img src="~/Images/dog-ad-5.png" /></a>
        </div>
    </div>
</div>



